<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tilmanification.quicklearn">

    <!--<uses-permission android:name="android.permission.GET_TASKS" /> &lt;!&ndash; TODO deprecated in Android 5.0+ (I think it doesn't work anymore), is this required for the boredom model? ALternative??&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/quicklearnicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notification Listener -->
        <service
            android:name="com.tilmanification.quicklearn.sensors.QLearnNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Accessibility Service -->
        <!--<service-->
            <!--android:name="com.tilmanification.quicklearn.sensors.QLearnAccessibilityService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:label="@string/accessibility_service_label"-->
            <!--android:description="@string/accessibility_service_description"-->
            <!--android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accessibilityservice.AccessibilityService" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.accessibilityservice"-->
                <!--android:resource="@xml/serviceconfig" />-->
        <!--</service>-->

        <!-- On Boot Completed Receiver -->
        <receiver
            android:name="com.tilmanification.quicklearn.sensors.BootCompletedReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- To restart app when it gets upgraded -->
        <!--<receiver android:name="org.pielot.borpred.OnUpgradeReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_REPLACED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name=".ConsentActivity"
            android:label="@string/con_title" >
        </activity>

        <activity
            android:name=".EnableAccessibilityActivity"
            android:label="@string/title_activity_enable_accessibility" >
        </activity>

        <activity
            android:name=".EnableNotificationActivity"
            android:label="@string/title_activity_enable_notification" >
        </activity>

        <activity
            android:name=".EnableNetworkLocationActivity"
            android:label="@string/title_activity_enable_network_location" >
        </activity>

        <activity
            android:name=".EnterEmailActivity"
            android:label="@string/title_activity_enter_email" >
        </activity>

        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey" >
        </activity>

        <!-- Receives events when the user taps on the notification buttons -->
        <receiver android:name=".NotificationTriggerService$NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.hcilab.projects.borapplearn.FLASHCARD_TRANSLATE" />
                <action android:name="org.hcilab.projects.borapplearn.FLASHCARD_KNEW_IT" />
                <action android:name="org.hcilab.projects.borapplearn.FLASHCARD_DID_NOT_KNOW" />
                <action android:name="org.hcilab.projects.borapplearn.FLASHCARD_QUIT" />
                <action android:name="org.hcilab.projects.borapplearn.FLASHCARD_MORE_WORDS" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_SELECT_A" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_SELECT_B" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_SELECT_C" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_CONTINUE" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_QUIT" />
                <action android:name="org.hcilab.projects.borapplearn.MULTIPLE_CHOICE_MORE_WORDS" />
            </intent-filter>
        </receiver>

        <!-- Triggers notifications when boredom is detected -->
        <service android:name=".NotificationTriggerService" />

        <!-- Phone Sensor Events -->
        <service android:name=".sensors.SensorService" />

    </application>

</manifest>